Repository bumble-tech/appyx, pull requests merged in 2022-12, with the labels that each got.

#291 Use dfs for selecting nodes in sample app
  samples/app/src/main/kotlin/com/bumble/appyx/app/node/slideshow/slide/modeldriven/ComposableNavigation.kt
Labels: samples

#287 Updated twitter compose detekt to 0.0.26
  CHANGELOG.md
  gradle/libs.versions.toml
  libraries/core/src/main/kotlin/com/bumble/appyx/core/collections/ImmutableList.kt
  libraries/core/src/main/kotlin/com/bumble/appyx/core/navigation/transition/CombinedHandler.kt
  samples/app/src/main/kotlin/com/bumble/appyx/app/node/slideshow/slide/app/StatefulNode2.kt
  samples/sandbox/src/main/kotlin/com/bumble/appyx/sandbox/client/container/ContainerNode.kt
  samples/sandbox/src/main/kotlin/com/bumble/appyx/sandbox/client/list/LazyListContainerNode.kt
Labels: bug, enhancement, build & CI

#298 Update child view docs and TransitionDescriptor generics
  CHANGELOG.md
  documentation/ui/children-view.md
  libraries/core/src/main/kotlin/com/bumble/appyx/core/navigation/transition/TransitionDescriptor.kt
Labels: documentation

#300 Updated espresso-core to 3.5.0
  gradle/libs.versions.toml
  libraries/core/src/androidTest/kotlin/com/bumble/appyx/core/plugin/BackPressHandlerTest.kt
Labels: build & CI

#299 Updated accompanist to 0.28.0
  gradle/libs.versions.toml
  samples/sandbox/build.gradle.kts
Labels: build & CI

#306 Migrate sample apps to Material3
  gradle/libs.versions.toml
  samples/app/build.gradle.kts
  samples/app/src/main/kotlin/com/bumble/appyx/app/MainActivity.kt
  samples/app/src/main/kotlin/com/bumble/appyx/app/composable/Page.kt
  samples/app/src/main/kotlin/com/bumble/appyx/app/composable/graph/Tree.kt
  samples/app/src/main/kotlin/com/bumble/appyx/app/composable/graph/nodeimpl/SimpleGraphNode.kt
  samples/app/src/main/kotlin/com/bumble/appyx/app/composable/graph/nodeimpl/TestImpl.kt
  samples/app/src/main/kotlin/com/bumble/appyx/app/node/backstack/InsideTheBackStack.kt
  samples/app/src/main/kotlin/com/bumble/appyx/app/node/backstack/app/ChildNode.kt
  samples/app/src/main/kotlin/com/bumble/appyx/app/node/backstack/app/composable/Buttons.kt
  samples/app/src/main/kotlin/com/bumble/appyx/app/node/backstack/app/composable/PeekInsideBackStack.kt
  samples/app/src/main/kotlin/com/bumble/appyx/app/node/child/GenericChildNode.kt
  samples/app/src/main/kotlin/com/bumble/appyx/app/node/samples/SampleItem.kt
  samples/app/src/main/kotlin/com/bumble/appyx/app/node/samples/SamplesContainerNode.kt
  samples/app/src/main/kotlin/com/bumble/appyx/app/node/slideshow/WhatsAppyxSlideShow.kt
  samples/app/src/main/kotlin/com/bumble/appyx/app/node/slideshow/slide/app/ApplicationTree.kt
  samples/app/src/main/kotlin/com/bumble/appyx/app/node/slideshow/slide/app/StatefulNode1.kt
  samples/app/src/main/kotlin/com/bumble/appyx/app/node/slideshow/slide/app/StatefulNode2.kt
  samples/app/src/main/kotlin/com/bumble/appyx/app/node/slideshow/slide/modeldriven/ComposableNavigation.kt
  samples/app/src/main/kotlin/com/bumble/appyx/app/node/slideshow/slide/modeldriven/Intro.kt
  samples/app/src/main/kotlin/com/bumble/appyx/app/node/slideshow/slide/modeldriven/ModelDrivenIntro.kt
  samples/app/src/main/kotlin/com/bumble/appyx/app/node/slideshow/slide/modeldriven/NavModelTeaserNode.kt
  samples/app/src/main/kotlin/com/bumble/appyx/app/ui/Shape.kt
  samples/app/src/main/kotlin/com/bumble/appyx/app/ui/Theme.kt
  samples/app/src/main/kotlin/com/bumble/appyx/app/ui/Type.kt
  samples/common/src/main/java/com/bumble/appyx/samples/common/profile/ProfileCardNode.kt
  samples/navigation-compose/src/main/kotlin/com/bumble/appyx/sample/navigtion/compose/ComposeNavigationContainerNode.kt
  samples/navigation-compose/src/main/kotlin/com/bumble/appyx/sample/navigtion/compose/ComposeNavigationRoot.kt
  samples/sandbox/build.gradle.kts
  samples/sandbox/src/main/kotlin/com/bumble/appyx/sandbox/MainActivity.kt
  samples/sandbox/src/main/kotlin/com/bumble/appyx/sandbox/TextButton.kt
  samples/sandbox/src/main/kotlin/com/bumble/appyx/sandbox/client/backstack/BackStackExampleNode.kt
  samples/sandbox/src/main/kotlin/com/bumble/appyx/sandbox/client/blocker/BlockerExampleNode.kt
  samples/sandbox/src/main/kotlin/com/bumble/appyx/sandbox/client/child/ChildNode.kt
  samples/sandbox/src/main/kotlin/com/bumble/appyx/sandbox/client/combined/CombinedNavModelNode.kt
  samples/sandbox/src/main/kotlin/com/bumble/appyx/sandbox/client/container/ContainerNode.kt
  samples/sandbox/src/main/kotlin/com/bumble/appyx/sandbox/client/customisations/ViewCustomisationExampleView.kt
  samples/sandbox/src/main/kotlin/com/bumble/appyx/sandbox/client/customisations/ViewCustomisationsActivity.kt
  samples/sandbox/src/main/kotlin/com/bumble/appyx/sandbox/client/explicitnavigation/ChildNodeOne.kt
  samples/sandbox/src/main/kotlin/com/bumble/appyx/sandbox/client/explicitnavigation/ChildNodeTwo.kt
  samples/sandbox/src/main/kotlin/com/bumble/appyx/sandbox/client/explicitnavigation/ExplicitNavigationExampleActivity.kt
  samples/sandbox/src/main/kotlin/com/bumble/appyx/sandbox/client/explicitnavigation/GrandchildNodeOne.kt
  samples/sandbox/src/main/kotlin/com/bumble/appyx/sandbox/client/explicitnavigation/GrandchildNodeTwo.kt
  samples/sandbox/src/main/kotlin/com/bumble/appyx/sandbox/client/explicitnavigation/RootNode.kt
  samples/sandbox/src/main/kotlin/com/bumble/appyx/sandbox/client/integrationpoint/IntegrationPointExampleNode.kt
  samples/sandbox/src/main/kotlin/com/bumble/appyx/sandbox/client/integrationpoint/StartActivityExample.kt
  samples/sandbox/src/main/kotlin/com/bumble/appyx/sandbox/client/list/LazyListContainerNode.kt
  samples/sandbox/src/main/kotlin/com/bumble/appyx/sandbox/client/modal/ModalExampleNode.kt
  samples/sandbox/src/main/kotlin/com/bumble/appyx/sandbox/client/mvicoreexample/MviCoreChildNode1.kt
  samples/sandbox/src/main/kotlin/com/bumble/appyx/sandbox/client/mvicoreexample/MviCoreChildNode2.kt
  samples/sandbox/src/main/kotlin/com/bumble/appyx/sandbox/client/mvicoreexample/MviCoreExampleView.kt
  samples/sandbox/src/main/kotlin/com/bumble/appyx/sandbox/client/mvicoreexample/leaf/MviCoreLeafView.kt
  samples/sandbox/src/main/kotlin/com/bumble/appyx/sandbox/client/navmodels/NavModelExamplesNode.kt
  samples/sandbox/src/main/kotlin/com/bumble/appyx/sandbox/client/spotlight/SpotlightExampleNode.kt
  samples/sandbox/src/main/kotlin/com/bumble/appyx/sandbox/client/spotlightadvancedexample/SpotlightAdvancedExampleNode.kt
  samples/sandbox/src/main/kotlin/com/bumble/appyx/sandbox/client/tiles/TilesExampleNode.kt
  samples/sandbox/src/main/kotlin/com/bumble/appyx/sandbox/ui/Shape.kt
  samples/sandbox/src/main/kotlin/com/bumble/appyx/sandbox/ui/Theme.kt
  samples/sandbox/src/main/kotlin/com/bumble/appyx/sandbox/ui/Type.kt
Labels: samples
