Repository bumble-tech/appyx, pull requests merged in 2023-06, with the labels that each got.

#452 Renamings
  appyx-components/internal/common/src/commonMain/kotlin/com/bumble/appyx/components/internal/testdrive/TestDriveExperiment.kt
  appyx-components/spotlight/android/src/androidTest/kotlin/com/bumble/appyx/components/spotlight/SpotlightTest.kt
  appyx-components/spotlight/android/src/androidTest/kotlin/com/bumble/appyx/components/spotlight/SpotlightViewpointTest.kt
  appyx-components/spotlight/common/src/commonMain/kotlin/com/bumble/appyx/components/spotlight/operation/Activate.kt
  appyx-components/spotlight/common/src/commonMain/kotlin/com/bumble/appyx/components/spotlight/operation/First.kt
  appyx-components/spotlight/common/src/commonMain/kotlin/com/bumble/appyx/components/spotlight/operation/Last.kt
  appyx-components/spotlight/common/src/commonMain/kotlin/com/bumble/appyx/components/spotlight/operation/Next.kt
  appyx-components/spotlight/common/src/commonMain/kotlin/com/bumble/appyx/components/spotlight/operation/Previous.kt
  appyx-components/spotlight/common/src/commonMain/kotlin/com/bumble/appyx/components/spotlight/ui/slider/SpotlightSlider.kt
  appyx-components/spotlight/common/src/commonMain/kotlin/com/bumble/appyx/components/spotlight/ui/sliderrotation/SpotlightSliderRotation.kt
  appyx-components/spotlight/common/src/commonMain/kotlin/com/bumble/appyx/components/spotlight/ui/sliderscale/SpotlightSliderScale.kt
  appyx-components/spotlight/common/src/commonMain/kotlin/com/bumble/appyx/components/spotlight/ui/stack3d/SpotlightStack3D.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/model/transition/BaseTransitionModel.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/model/transition/Operation.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/sample/Children.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/transitionmodel/BaseMotionController.kt
  appyx-navigation/src/main/kotlin/com/bumble/appyx/navigation/composable/Children.kt
Labels: cleanup, appyx-interactions

#439 Restore SpotlightFader
  appyx-components/spotlight/common/src/commonMain/kotlin/com/bumble/appyx/components/spotlight/ui/fader/SpotlightFader.kt
  appyx-components/spotlight/common/src/commonMain/kotlin/com/bumble/appyx/components/spotlight/ui/fader/TargetUiState.kt
  demos/appyx-interactions/android/src/main/kotlin/com/bumble/appyx/interactions/MainActivity.kt
Labels: appyx-interactions

#451 Gesture helpers
  appyx-components/demos/common/src/commonMain/kotlin/com/bumble/appyx/components/demos/cards/ui/CardsMotionController.kt
  appyx-components/internal/common/src/commonMain/kotlin/com/bumble/appyx/components/internal/testdrive/ui/TestDriveMotionController.kt
  appyx-components/spotlight/common/src/commonMain/kotlin/com/bumble/appyx/components/spotlight/ui/slider/SpotlightSlider.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/ui/gesture/Drag.kt
Labels: enhancement, gestures, appyx-interactions

#450 Improve gesture handling
  appyx-components/demos/android/build.gradle.kts
  appyx-components/demos/android/src/main/kotlin/com/bumble/appyx/components/demos/cards/DatingCards.kt
  appyx-components/demos/common/src/commonMain/kotlin/com/bumble/appyx/components/demos/cards/Cards.kt
  appyx-components/demos/common/src/commonMain/kotlin/com/bumble/appyx/components/demos/cards/ui/TargetUiState.kt
  appyx-components/internal/android/src/androidTest/kotlin/com/bumble/appyx/components/internal/testdrive/helper/TestDriveUtils.kt
  appyx-components/internal/android/src/main/kotlin/com/bumble/appyx/components/internal/testdrive/android/TestDriveExperiment.kt
  appyx-components/internal/common/src/commonMain/kotlin/com/bumble/appyx/components/internal/testdrive/TestDriveExperiment.kt
  appyx-components/internal/common/src/commonMain/kotlin/com/bumble/appyx/components/internal/testdrive/ui/rotation/TargetUiState.kt
  appyx-components/internal/common/src/commonMain/kotlin/com/bumble/appyx/components/internal/testdrive/ui/rotation/TestDriveMotionController.kt
  appyx-components/internal/common/src/commonMain/kotlin/com/bumble/appyx/components/internal/testdrive/ui/simple/TargetUiState.kt
  appyx-components/internal/common/src/commonMain/kotlin/com/bumble/appyx/components/internal/testdrive/ui/simple/TestDriveMotionController.kt
  appyx-components/spotlight/android/src/androidTest/kotlin/com/bumble/appyx/components/spotlight/utils/SpotlightUtils.kt
  appyx-components/spotlight/common/src/commonMain/kotlin/com/bumble/appyx/components/spotlight/Spotlight.kt
  appyx-components/spotlight/common/src/commonMain/kotlin/com/bumble/appyx/components/spotlight/ui/slider/SpotlightSlider.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/DraggableChildren.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/gesture/GestureValidator.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/gesture/detectDragGesturesOrCancellation.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/model/BaseInteractionModel.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/model/progress/DragProgressController.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/model/progress/Draggable.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/ui/gesture/GestureSettleConfig.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/ui/helper/Gestures.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/sample/Children.kt
  appyx-interactions/common/src/commonTest/kotlin/com/bumble/appyx/interactions/core/model/progress/DragProgressControllerTest.kt
  appyx-navigation/build.gradle.kts
  appyx-navigation/src/main/kotlin/com/bumble/appyx/navigation/composable/Children.kt
  demos/appyx-interactions/android/src/main/kotlin/com/bumble/appyx/interactions/sample/SpotlightExperiment.kt
  demos/appyx-interactions/web/src/jsMain/kotlin/com/bumble/appyx/interactions/main.js.kt
  demos/appyx-navigation/src/main/kotlin/com/bumble/appyx/navigation/node/datingcards/DatingCardsNode.kt
Labels: enhancement, gestures, appyx-interactions

#456 Check uiContext instead of bounds when updaing uiContext
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/model/BaseInteractionModel.kt
Labels: bug, appyx-interactions

#455 Gesture improvements
  appyx-components/backstack/common/src/commonMain/kotlin/com/bumble/appyx/components/backstack/operation/NewRoot.kt
  appyx-components/backstack/common/src/commonMain/kotlin/com/bumble/appyx/components/backstack/operation/Pop.kt
  appyx-components/backstack/common/src/commonMain/kotlin/com/bumble/appyx/components/backstack/operation/Push.kt
  appyx-components/backstack/common/src/commonMain/kotlin/com/bumble/appyx/components/backstack/operation/Replace.kt
  appyx-components/demos/common/src/commonMain/kotlin/com/bumble/appyx/components/demos/cards/operation/VoteLike.kt
  appyx-components/demos/common/src/commonMain/kotlin/com/bumble/appyx/components/demos/cards/operation/VotePass.kt
  appyx-components/demos/common/src/commonMain/kotlin/com/bumble/appyx/components/demos/cards/ui/CardsMotionController.kt
  appyx-components/demos/common/src/commonMain/kotlin/com/bumble/appyx/components/demos/promoter/operation/AddFirst.kt
  appyx-components/internal/android/src/androidTest/kotlin/com/bumble/appyx/components/internal/testdrive/helper/TestDriveUtils.kt
  appyx-components/internal/common/src/commonMain/kotlin/com/bumble/appyx/components/internal/testdrive/TestDriveExperiment.kt
  appyx-components/internal/common/src/commonMain/kotlin/com/bumble/appyx/components/internal/testdrive/operation/MoveTo.kt
  appyx-components/internal/common/src/commonMain/kotlin/com/bumble/appyx/components/internal/testdrive/operation/Next.kt
  appyx-components/internal/common/src/commonMain/kotlin/com/bumble/appyx/components/internal/testdrive/ui/rotation/TestDriveRotationMotionController.kt
  appyx-components/internal/common/src/commonMain/kotlin/com/bumble/appyx/components/internal/testdrive/ui/simple/TestDriveSimpleMotionController.kt
  appyx-components/spotlight/common/src/commonMain/kotlin/com/bumble/appyx/components/spotlight/operation/Activate.kt
  appyx-components/spotlight/common/src/commonMain/kotlin/com/bumble/appyx/components/spotlight/operation/First.kt
  appyx-components/spotlight/common/src/commonMain/kotlin/com/bumble/appyx/components/spotlight/operation/Last.kt
  appyx-components/spotlight/common/src/commonMain/kotlin/com/bumble/appyx/components/spotlight/operation/Next.kt
  appyx-components/spotlight/common/src/commonMain/kotlin/com/bumble/appyx/components/spotlight/operation/Previous.kt
  appyx-components/spotlight/common/src/commonMain/kotlin/com/bumble/appyx/components/spotlight/operation/UpdateElements.kt
  appyx-components/spotlight/common/src/commonMain/kotlin/com/bumble/appyx/components/spotlight/ui/slider/SpotlightSlider.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/model/progress/DragProgressController.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/model/transition/Operation.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/model/transition/TransitionModel.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/ui/gesture/Drag.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/ui/gesture/Gesture.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/ui/gesture/GestureFactory.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/ui/math/Vector.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/permanent/operation/AddUnique.kt
  appyx-interactions/common/src/commonTest/kotlin/com/bumble/appyx/interactions/core/TestTransitionModel.kt
Labels: enhancement, gestures, appyx-interactions

#458 Parallax backstack
  appyx-components/backstack/common/src/commonMain/kotlin/com/bumble/appyx/components/backstack/ui/parallax/BackStackParallax.kt
  appyx-components/backstack/common/src/commonMain/kotlin/com/bumble/appyx/components/backstack/ui/parallax/TargetUiState.kt
  demos/appyx-navigation/src/main/kotlin/com/bumble/appyx/navigation/node/backstack/BackStackExamplesNode.kt
  demos/appyx-navigation/src/main/kotlin/com/bumble/appyx/navigation/node/backstack/BackStackNode.kt
Labels: samples

#468 Added ColorOverlay and Shadow properties to BackStackParallax
  appyx-components/backstack/common/src/commonMain/kotlin/com/bumble/appyx/components/backstack/ui/parallax/BackStackParallax.kt
  appyx-components/backstack/common/src/commonMain/kotlin/com/bumble/appyx/components/backstack/ui/parallax/TargetUiState.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/ui/property/impl/ColorOverlay.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/ui/property/impl/Shadow.kt
Labels: samples, appyx-interactions, P2

#474 Rework visibility approach
  appyx-components/stable/backstack/android/src/androidTest/kotlin/com/bumble/appyx/components/backstack/android/BackStackTest.kt
  appyx-components/stable/backstack/common/src/commonMain/kotlin/com/bumble/appyx/components/backstack/ui/slider/BackStackSlider.kt
  appyx-components/stable/spotlight/android/src/androidTest/kotlin/com/bumble/appyx/components/spotlight/android/SpotlightTest.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/DraggableChildren.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/ui/output/ElementUiModel.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/ui/property/MotionProperty.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/ui/property/impl/Alpha.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/ui/property/impl/ColorOverlay.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/ui/property/impl/Position.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/ui/property/impl/Scale.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/ui/property/impl/Shadow.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/ui/state/BaseMutableUiState.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/sample/Children.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/transitionmodel/BaseMotionController.kt
  appyx-navigation/src/main/kotlin/com/bumble/appyx/navigation/composable/Children.kt
  demos/appyx-navigation/src/main/kotlin/com/bumble/appyx/navigation/node/backstack/BackStackNode.kt
Labels: bug, appyx-interactions, P0

#477 Clean up ui cache for destroyed elements in BaseMotionController
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/transitionmodel/BaseMotionController.kt
Labels: appyx-interactions, P3

#476 Avoid consumes all input
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/DraggableChildren.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/model/progress/AnimatedProgressController.kt
Labels: bug, gestures, appyx-interactions, P0

#459 Backstack 3d
  appyx-components/stable/backstack/common/src/commonMain/kotlin/com/bumble/appyx/components/backstack/BackStack.kt
  appyx-components/stable/backstack/common/src/commonMain/kotlin/com/bumble/appyx/components/backstack/ui/stack3d/BackStack3D.kt
  appyx-components/stable/backstack/common/src/commonMain/kotlin/com/bumble/appyx/components/backstack/ui/stack3d/TargetUiState.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/ui/property/impl/RotationX.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/ui/property/impl/RotationY.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/ui/property/impl/RotationZ.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/ui/property/impl/Scale.kt
  demos/appyx-navigation/src/main/kotlin/com/bumble/appyx/navigation/node/backstack/BackStackExamplesNode.kt
  demos/appyx-navigation/src/main/kotlin/com/bumble/appyx/navigation/node/backstack/BackStackNode.kt
Labels: samples, appyx-interactions

#480 Update CMP to 1.4 and compose BOM to 2023.05.01
  appyx-components/internal/test-drive/android/screenshots/KeyframesToUpdateTest_when_in_segment_interrupt_with_update.png
  appyx-components/internal/test-drive/android/screenshots/UpdateTest_basic_behaviour_multiple.png
  appyx-components/internal/test-drive/android/screenshots/UpdateTest_basic_behaviour_one_update.png
  appyx-components/internal/test-drive/android/screenshots/UpdateToKeyframesTest_when_update_not_settled_keyframe_is_update.png
  build.gradle.kts
  gradle/libs.versions.toml
  utils/interop-ribs/src/main/kotlin/com/bumble/appyx/utils/interop/ribs/InteropBackPressHandler.kt
Labels: 3rd party

#478 Update compose Bom
  CHANGELOG.md
  gradle/libs.versions.toml
  libraries/interop-ribs/src/main/kotlin/com/bumble/appyx/interop/ribs/InteropBackPressHandler.kt
Labels: 3rd party

#483 Remove containerBoundsInRoot param from TransitionBounds
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/DraggableChildren.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/ui/context/TransitionBounds.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/ui/state/BaseMutableUiState.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/sample/Children.kt
  appyx-navigation/src/main/kotlin/com/bumble/appyx/navigation/composable/Children.kt
  demos/appyx-interactions/desktop/src/desktopMain/kotlin/com/bumble/appyx/interactions/widgets/Widgets.kt
Labels: bug, appyx-interactions, appyx-navigation

#493 Fix embedded sample extra scrolling
  compose_mpp_sample.py
Labels: documentation

#504 Clean death code
  appyx-components/experimental/cards/common/src/commonMain/kotlin/com/bumble/appyx/components/experimental/cards/ui/CardsMotionController.kt
  appyx-components/experimental/cards/common/src/commonTest/kotlin/util/Log.kt
  appyx-components/experimental/modal/android/build.gradle.kts
  appyx-components/experimental/modal/common/src/commonMain/kotlin/com/bumble/appyx/components/modal/backpresshandler/RevertBackPressHandler.kt
  appyx-components/experimental/modal/common/src/commonMain/kotlin/com/bumble/appyx/components/modal/ui/ModalMotionController.kt
  appyx-components/experimental/promoter/common/src/commonMain/kotlin/com/bumble/appyx/components/experimental/promoter/ui/PromoterMotionController.kt
  appyx-components/experimental/promoter/common/src/commonTest/kotlin/util/Log.kt
  appyx-components/experimental/puzzle15/android/src/main/kotlin/com/bumble/appyx/components/experimental/puzzle15/android/Puzzle15.kt
  appyx-components/experimental/puzzle15/common/src/commonMain/kotlin/com/bumble/appyx/components/experimental/puzzle15/ui/Puzzle15MotionController.kt
  appyx-components/experimental/puzzle15/common/src/commonMain/kotlin/com/bumble/appyx/components/experimental/puzzle15/ui/Puzzle15Ui.kt
  appyx-components/experimental/puzzle15/common/src/commonTest/kotlin/util/Log.kt
  appyx-components/experimental/puzzle15/web/src/jsMain/kotlin/com/bumble/appyx/experimental/puzzle15/web/main.js.kt
  appyx-components/internal/test-drive/android/src/androidTest/kotlin/com/bumble/appyx/components/internal/testdrive/android/helper/TestDriveUtils.kt
  appyx-components/internal/test-drive/common/src/commonMain/kotlin/com/bumble/appyx/components/internal/testdrive/TestDriveExperiment.kt
  appyx-components/internal/test-drive/common/src/commonMain/kotlin/com/bumble/appyx/components/internal/testdrive/ui/rotation/TestDriveRotationMotionController.kt
  appyx-components/internal/test-drive/common/src/commonMain/kotlin/com/bumble/appyx/components/internal/testdrive/ui/simple/TestDriveSimpleMotionController.kt
  appyx-components/internal/test-drive/common/src/commonTest/kotlin/android/util/Log.kt
  appyx-components/internal/test-drive/common/src/commonTest/kotlin/com/bumble/appyx/components/internal/testdrive/KeyframeTest.kt
  appyx-components/stable/backstack/common/src/commonMain/kotlin/com/bumble/appyx/components/backstack/ui/fader/BackstackFader.kt
  appyx-components/stable/backstack/common/src/commonMain/kotlin/com/bumble/appyx/components/backstack/ui/parallax/BackStackParallax.kt
  appyx-components/stable/backstack/common/src/commonTest/kotlin/android/util/Log.kt
  appyx-components/stable/spotlight/common/src/commonMain/kotlin/com/bumble/appyx/components/spotlight/ui/fader/SpotlightFader.kt
  appyx-components/stable/spotlight/common/src/commonTest/kotlin/android/util/Log.kt
  appyx-interactions/android/src/main/kotlin/com/bumble/appyx/interactions/sample/android/SampleChildren.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/App.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/DraggableChildren.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/model/BaseAppyxComponent.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/model/progress/DebugProgressInputSource.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/model/transition/BaseOperation.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/model/transition/BaseTransitionModel.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/model/transition/Keyframes.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/ui/gesture/GestureSettleConfig.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/ui/helper/Gestures.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/ui/property/MotionProperty.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/ui/state/BaseMutableUiState.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/transitionmodel/BaseMotionController.kt
  appyx-interactions/common/src/commonTest/kotlin/android/util/Log.kt
  appyx-interactions/common/src/commonTest/kotlin/com/bumble/appyx/interactions/core/model/progress/DragProgressControllerTest.kt
  appyx-interactions/common/src/desktopMain/kotlin/com/bumble/appyx/interactions/DesktopApp.kt
  appyx-navigation/src/main/kotlin/com/bumble/appyx/navigation/composable/AppyxComponent.kt
  demos/appyx-navigation/src/main/kotlin/com/bumble/appyx/navigation/node/backstack/BackStackNode.kt
  demos/mkdocs/appyx-interactions/interactions/sample1/web/src/jsMain/kotlin/com/bumble/appyx/demos/sample1/Sample1MotionController.kt
  demos/mkdocs/appyx-interactions/interactions/sample2/web/src/jsMain/kotlin/com/bumble/appyx/demos/sample2/Sample2MotionController.kt
  demos/mkdocs/appyx-interactions/interactions/sample3/web/src/jsMain/kotlin/com/bumble/appyx/demos/sample3/Sample3MotionController.kt
  ksp/mutable-ui-processor/src/commonMain/kotlin/com/bumble/appyx/interactions/ksp/MutableUiStateProcessor.kt
Labels: cleanup, appyx-interactions

#505 Spotlight stack3d center
  appyx-components/stable/spotlight/common/src/commonMain/kotlin/com/bumble/appyx/components/spotlight/ui/stack3d/SpotlightStack3D.kt
  appyx-components/stable/spotlight/common/src/commonMain/kotlin/com/bumble/appyx/components/spotlight/ui/stack3d/TargetUiState.kt
Labels: appyx-interactions, appyx-components-spotlight

#508 Remove gesture settle config from draggable
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/model/BaseAppyxComponent.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/model/progress/DragProgressController.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/model/progress/Draggable.kt
  appyx-interactions/common/src/commonTest/kotlin/com/bumble/appyx/interactions/core/model/progress/DragProgressControllerTest.kt
Labels: gestures, appyx-interactions
