Repository bumble-tech/appyx, pull requests merged in 2023-08, with the labels that each got.

#557 Update documentation
  appyx-navigation/src/main/kotlin/com/bumble/appyx/navigation/store/RetainedInstanceStore.kt
  documentation/2.x/migrationguide.md
  documentation/components/backstack.md
  documentation/components/spotlight.md
  documentation/faq.md
  documentation/index.md
  documentation/interactions/ksp.md
  documentation/interactions/ui-representation.md
  documentation/navigation/apps/configuration.md
  documentation/navigation/apps/structure.md
  documentation/navigation/concepts/composable-navigation.md
  documentation/navigation/concepts/explicit-navigation.md
  documentation/navigation/concepts/implicit-navigation.md
  documentation/navigation/concepts/model-driven-navigation.md
  documentation/navigation/features/childaware.md
  documentation/navigation/features/configuration.md
  documentation/navigation/features/deep-linking.md
  documentation/navigation/features/lifecycle.md
  documentation/navigation/features/plugins.md
  documentation/navigation/features/scoped-di.md
  documentation/navigation/index.md
  documentation/navigation/integrations/compose-navigation.md
  documentation/navigation/integrations/di-frameworks.md
  documentation/navigation/integrations/ribs.md
  documentation/navigation/integrations/rx.md
  documentation/navigation/integrations/viewmodel.md
  documentation/navigation/navigation/composable-navigation.md
  documentation/navigation/quick-start.md
  documentation/releases/downloads.md
  mkdocs.yml
Labels: documentation

#559 Update documentation
  .github/workflows/build.yml
  .github/workflows/documentation.yml
  .gitignore
  CONTRIBUTING.md
  documentation/1.x/how-to-use-appyx/quick-start.md
  documentation/2.x/migrationguide.md
  documentation/components/backstack.md
  documentation/components/experimental.md
  documentation/components/index.md
  documentation/components/spotlight.md
  documentation/faq.md
  documentation/index.md
  documentation/interactions/appyxcomponent.md
  documentation/interactions/gestures.md
  documentation/interactions/index.md
  documentation/interactions/ksp.md
  documentation/interactions/operations.md
  documentation/interactions/transitionmodel.md
  documentation/interactions/ui-representation.md
  documentation/interactions/usage.md
  documentation/navigation/concepts/composable-navigation.md
  documentation/navigation/concepts/explicit-navigation.md
  documentation/navigation/concepts/implicit-navigation.md
  documentation/navigation/concepts/model-driven-navigation.md
  documentation/navigation/features/childaware.md
  documentation/navigation/features/deep-linking.md
  documentation/navigation/features/lifecycle.md
  documentation/navigation/features/plugins.md
  documentation/navigation/features/scoped-di.md
  documentation/navigation/features/surviving-configuration-changes.md
  documentation/navigation/index.md
  documentation/navigation/integrations/compose-navigation.md
  documentation/navigation/integrations/di-frameworks.md
  documentation/navigation/integrations/ribs.md
  documentation/navigation/integrations/rx.md
  documentation/navigation/integrations/viewmodel.md
  documentation/navigation/quick-start.md
  documentation/releases/downloads.md
  mkdocs.yml
Labels: documentation

#560 Don't remove destroyed elements on update automatically
  CHANGELOG.md
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/model/transition/BaseTransitionModel.kt
Labels: bug, appyx-interactions

#561 Add and update multiplatform-related documentation
  demos/appyx-navigation/android/src/main/kotlin/com/bumble/appyx/navigation/MainActivity.kt
  documentation/2.x/migrationguide.md
  documentation/index.md
  documentation/navigation/features/childaware.md
  documentation/navigation/features/lifecycle.md
  documentation/navigation/index.md
  documentation/navigation/multiplatform.md
  documentation/navigation/quick-start.md
  mkdocs.yml
Labels: documentation

#564 Replace offset values with alignment
  CHANGELOG.md
  appyx-components/experimental/cards/common/src/commonMain/kotlin/com/bumble/appyx/components/experimental/cards/ui/CardsMotionController.kt
  appyx-components/experimental/cards/common/src/commonMain/kotlin/com/bumble/appyx/components/experimental/cards/ui/TargetUiState.kt
  appyx-components/experimental/modal/common/src/commonMain/kotlin/com/bumble/appyx/components/modal/ui/ModalMotionController.kt
  appyx-components/experimental/modal/common/src/commonMain/kotlin/com/bumble/appyx/components/modal/ui/TargetUiState.kt
  appyx-components/experimental/puzzle15/common/src/commonMain/kotlin/com/bumble/appyx/components/experimental/puzzle15/ui/Puzzle15MotionController.kt
  appyx-components/experimental/puzzle15/common/src/commonMain/kotlin/com/bumble/appyx/components/experimental/puzzle15/ui/Puzzle15Ui.kt
  appyx-components/experimental/puzzle15/common/src/commonMain/kotlin/com/bumble/appyx/components/experimental/puzzle15/ui/TargetUiState.kt
  appyx-components/internal/test-drive/common/src/commonMain/kotlin/com/bumble/appyx/components/internal/testdrive/ui/rotation/TargetUiState.kt
  appyx-components/internal/test-drive/common/src/commonMain/kotlin/com/bumble/appyx/components/internal/testdrive/ui/rotation/TestDriveRotationMotionController.kt
  appyx-components/internal/test-drive/common/src/commonMain/kotlin/com/bumble/appyx/components/internal/testdrive/ui/simple/TargetUiState.kt
  appyx-components/internal/test-drive/common/src/commonMain/kotlin/com/bumble/appyx/components/internal/testdrive/ui/simple/TestDriveSimpleMotionController.kt
  appyx-components/stable/backstack/common/src/commonMain/kotlin/com/bumble/appyx/components/backstack/ui/parallax/TargetUiState.kt
  appyx-components/stable/backstack/common/src/commonMain/kotlin/com/bumble/appyx/components/backstack/ui/slider/BackStackSlider.kt
  appyx-components/stable/backstack/common/src/commonMain/kotlin/com/bumble/appyx/components/backstack/ui/slider/TargetUiState.kt
  appyx-components/stable/backstack/common/src/commonMain/kotlin/com/bumble/appyx/components/backstack/ui/stack3d/BackStack3D.kt
  appyx-components/stable/backstack/common/src/commonMain/kotlin/com/bumble/appyx/components/backstack/ui/stack3d/TargetUiState.kt
  appyx-components/stable/spotlight/common/src/commonMain/kotlin/com/bumble/appyx/components/spotlight/ui/slider/SpotlightSlider.kt
  appyx-components/stable/spotlight/common/src/commonMain/kotlin/com/bumble/appyx/components/spotlight/ui/slider/TargetUiState.kt
  appyx-components/stable/spotlight/common/src/commonMain/kotlin/com/bumble/appyx/components/spotlight/ui/sliderrotation/SpotlightSliderRotation.kt
  appyx-components/stable/spotlight/common/src/commonMain/kotlin/com/bumble/appyx/components/spotlight/ui/sliderrotation/TargetUiState.kt
  appyx-components/stable/spotlight/common/src/commonMain/kotlin/com/bumble/appyx/components/spotlight/ui/sliderscale/SpotlightSliderScale.kt
  appyx-components/stable/spotlight/common/src/commonMain/kotlin/com/bumble/appyx/components/spotlight/ui/sliderscale/TargetUiState.kt
  appyx-components/stable/spotlight/common/src/commonMain/kotlin/com/bumble/appyx/components/spotlight/ui/stack3d/SpotlightStack3D.kt
  appyx-components/stable/spotlight/common/src/commonMain/kotlin/com/bumble/appyx/components/spotlight/ui/stack3d/TargetUiState.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/annotations/FloatRange.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/ui/property/impl/position/BiasAlignment.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/ui/property/impl/position/PositionInside.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/ui/property/impl/position/PositionOutside.kt
  demos/appyx-interactions/desktop/src/desktopMain/kotlin/com/bumble/appyx/interactions/widgets/ui/TargetUiState.kt
  demos/appyx-interactions/desktop/src/desktopMain/kotlin/com/bumble/appyx/interactions/widgets/ui/WidgetsStack3D.kt
  demos/appyx-navigation/common/src/commonMain/kotlin/com/bumble/appyx/navigation/node/spotlight/SpotlightObserveTransitionsExampleNode.kt
  demos/mkdocs/appyx-interactions/gestures/dragprediction/web/src/jsMain/kotlin/com/bumble/appyx/demos/dragprediction/DragPredictionMotionController.kt
  demos/mkdocs/appyx-interactions/gestures/dragprediction/web/src/jsMain/kotlin/com/bumble/appyx/demos/dragprediction/TargetUiState.kt
  demos/mkdocs/appyx-interactions/gestures/incompletedrag/web/src/jsMain/kotlin/com/bumble/appyx/demos/incompletedrag/IncompleteDragMotionController.kt
  demos/mkdocs/appyx-interactions/gestures/incompletedrag/web/src/jsMain/kotlin/com/bumble/appyx/demos/incompletedrag/TargetUiState.kt
  demos/mkdocs/appyx-interactions/interactions/observemp/web/src/jsMain/kotlin/com.bumble.appyx.demos.observemp/ObserveMotionPropertiesSample.kt
  demos/mkdocs/appyx-interactions/interactions/sample1/web/src/jsMain/kotlin/com/bumble/appyx/demos/sample1/Sample1MotionController.kt
  demos/mkdocs/appyx-interactions/interactions/sample1/web/src/jsMain/kotlin/com/bumble/appyx/demos/sample1/TargetUiState.kt
  demos/mkdocs/appyx-interactions/interactions/sample2/web/src/jsMain/kotlin/com/bumble/appyx/demos/sample2/Sample2MotionController.kt
  demos/mkdocs/appyx-interactions/interactions/sample2/web/src/jsMain/kotlin/com/bumble/appyx/demos/sample2/TargetUiState.kt
  demos/mkdocs/appyx-interactions/interactions/sample3/web/src/jsMain/kotlin/com/bumble/appyx/demos/sample3/Sample3MotionController.kt
  demos/mkdocs/appyx-interactions/interactions/sample3/web/src/jsMain/kotlin/com/bumble/appyx/demos/sample3/TargetUiState.kt
Labels: enhancement, appyx-interactions

#565 Restore promoter
  appyx-components/experimental/promoter/android/src/main/kotlin/com/bumble/appyx/components/experimental/promoter/android/PromoterExperiment.kt
  appyx-components/experimental/promoter/common/src/commonMain/kotlin/com/bumble/appyx/components/experimental/promoter/PromoterModel.kt
  appyx-components/experimental/promoter/common/src/commonMain/kotlin/com/bumble/appyx/components/experimental/promoter/ui/PromoterMotionController.kt
  appyx-components/experimental/promoter/common/src/commonMain/kotlin/com/bumble/appyx/components/experimental/promoter/ui/TargetUiState.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/ui/property/impl/AngularPosition.kt
  demos/appyx-interactions/android/build.gradle.kts
  demos/appyx-interactions/android/src/main/kotlin/com/bumble/appyx/interactions/MainActivity.kt
  demos/appyx-navigation/common/src/commonMain/kotlin/com/bumble/appyx/navigation/node/promoter/PromoterNode.kt
Labels: enhancement, appyx-interactions, appyx-components

#567 Rename OutsideAlignment.Center to InContainer, add imports
  appyx-components/experimental/modal/common/src/commonMain/kotlin/com/bumble/appyx/components/modal/ui/ModalMotionController.kt
  appyx-components/stable/backstack/common/src/commonMain/kotlin/com/bumble/appyx/components/backstack/ui/slider/BackStackSlider.kt
  appyx-components/stable/spotlight/common/src/commonMain/kotlin/com/bumble/appyx/components/spotlight/ui/slider/SpotlightSlider.kt
  appyx-components/stable/spotlight/common/src/commonMain/kotlin/com/bumble/appyx/components/spotlight/ui/sliderrotation/SpotlightSliderRotation.kt
  appyx-components/stable/spotlight/common/src/commonMain/kotlin/com/bumble/appyx/components/spotlight/ui/sliderscale/SpotlightSliderScale.kt
  appyx-components/stable/spotlight/common/src/commonMain/kotlin/com/bumble/appyx/components/spotlight/ui/stack3d/SpotlightStack3D.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/ui/property/impl/position/BiasAlignment.kt
Labels: appyx-interactions

#569 Add on_error_fail: true to macros plugin config
  mkdocs.yml
Labels: documentation, build & CI

#570 Embedded samples - Propagate error code
  compose_mpp_sample.py
Labels: documentation, build & CI
