Repository bumble-tech/appyx, pull requests merged in 2023-11, with the labels that each got.

#626 Adds support for iOS deeplink inside demos-appyx-navigation
  demos/appyx-navigation/ios/src/iosMain/kotlin/main.ios.kt
  demos/appyx-navigation/iosApp/iosApp/Info.plist
  demos/appyx-navigation/iosApp/iosApp/iOSApp.swift
Labels: enhancement, samples, appyx-navigation, ios

#627 Setup benchmark app and test modules
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/model/transition/BaseTransitionModel.kt
  benchmark/benchmark-app/.gitignore
  benchmark/benchmark-app/build.gradle.kts
  benchmark/benchmark-app/lint-baseline.xml
  benchmark/benchmark-app/proguard-rules.pro
  benchmark/benchmark-app/src/main/AndroidManifest.xml
  benchmark/benchmark-app/src/main/kotlin/com/bumble/appyx/benchmark/app/MainActivity.kt
  benchmark/benchmark-app/src/main/kotlin/com/bumble/appyx/benchmark/app/mosaic/MosaicComponent.kt
  benchmark/benchmark-app/src/main/kotlin/com/bumble/appyx/benchmark/app/mosaic/MosaicConfig.kt
  benchmark/benchmark-app/src/main/kotlin/com/bumble/appyx/benchmark/app/mosaic/MosaicModel.kt
  benchmark/benchmark-app/src/main/kotlin/com/bumble/appyx/benchmark/app/mosaic/MosaicPiece.kt
  benchmark/benchmark-app/src/main/kotlin/com/bumble/appyx/benchmark/app/mosaic/MosaicVisualisation.kt
  benchmark/benchmark-app/src/main/kotlin/com/bumble/appyx/benchmark/app/mosaic/MutableUiState.kt
  benchmark/benchmark-app/src/main/kotlin/com/bumble/appyx/benchmark/app/mosaic/TargetUiState.kt
  benchmark/benchmark-app/src/main/kotlin/com/bumble/appyx/benchmark/app/mosaic/operation/Assemble.kt
  benchmark/benchmark-app/src/main/kotlin/com/bumble/appyx/benchmark/app/mosaic/operation/Carousel.kt
  benchmark/benchmark-app/src/main/kotlin/com/bumble/appyx/benchmark/app/mosaic/operation/Flip.kt
  benchmark/benchmark-app/src/main/kotlin/com/bumble/appyx/benchmark/app/mosaic/operation/Scatter.kt
  benchmark/benchmark-app/src/main/kotlin/com/bumble/appyx/benchmark/app/node/MosaicNode.kt
  benchmark/benchmark-app/src/main/kotlin/com/bumble/appyx/benchmark/app/ui/FlashCard.kt
  benchmark/benchmark-app/src/main/res/drawable/appyx.xml
  benchmark/benchmark-app/src/main/res/values/strings.xml
  benchmark/benchmark-app/src/main/res/values/themes.xml
  benchmark/benchmark-test/.gitignore
  benchmark/benchmark-test/build.gradle.kts
  benchmark/benchmark-test/src/main/AndroidManifest.xml
  benchmark/benchmark-test/src/main/kotlin/com/bumble/appyx/benchmark/AssembleFlipBenchmark.kt
  build.gradle.kts
  gradle/libs.versions.toml
  settings.gradle.kts
Labels: appyx-interactions, performance

#630 Pass initial state into Spotlights visualisations
  CHANGELOG.md
  appyx-components/stable/spotlight/android/src/androidTest/kotlin/com/bumble/appyx/components/spotlight/android/SpotlightTest.kt
  appyx-components/stable/spotlight/android/src/androidTest/kotlin/com/bumble/appyx/components/spotlight/android/utils/SpotlightUtils.kt
  appyx-components/stable/spotlight/common/src/commonMain/kotlin/com/bumble/appyx/components/spotlight/SpotlightModel.kt
  appyx-components/stable/spotlight/common/src/commonMain/kotlin/com/bumble/appyx/components/spotlight/ui/slider/SpotlightSlider.kt
  appyx-components/stable/spotlight/common/src/commonMain/kotlin/com/bumble/appyx/components/spotlight/ui/sliderrotation/SpotlightSliderRotation.kt
  appyx-components/stable/spotlight/common/src/commonMain/kotlin/com/bumble/appyx/components/spotlight/ui/sliderscale/SpotlightSliderScale.kt
  appyx-components/stable/spotlight/common/src/commonMain/kotlin/com/bumble/appyx/components/spotlight/ui/stack3d/SpotlightStack3D.kt
  demos/appyx-interactions/android/src/main/kotlin/com/bumble/appyx/interactions/bottomnav/MainNavItem.kt
  demos/appyx-interactions/android/src/main/kotlin/com/bumble/appyx/interactions/sample/SpotlightExperiment.kt
  demos/appyx-interactions/android/src/main/kotlin/com/bumble/appyx/interactions/sample/SpotlightExperimentDebug.kt
  demos/appyx-interactions/android/src/main/kotlin/com/bumble/appyx/interactions/sample/SpotlightVisualisationType.kt
  demos/mkdocs/appyx-components/spotlight/slider/web/src/jsMain/kotlin/com/bumble/appyx/demos/spotlight/slider/SpotlightSliderSample.kt
  demos/mkdocs/appyx-components/spotlight/sliderrotation/web/src/jsMain/kotlin/com/bumble/appyx/demos/spotlight/sliderrotation/SpotlightSliderRotationSample.kt
  demos/mkdocs/appyx-components/spotlight/sliderscale/web/src/jsMain/kotlin/com/bumble/appyx/demos/spotlight/sliderscale/SpotlightSliderScaleSample.kt
  demos/mkdocs/appyx-components/spotlight/stack3d/web/src/jsMain/kotlin/com/bumble/appyx/demos/spotlight/stack3d/SpotlightStack3DSample.kt
  demos/mkdocs/appyx-interactions/interactions/observemp/web/src/jsMain/kotlin/com/bumble/appyx/demos/observemp/ObserveMotionPropertiesSample.kt
  demos/sandbox-appyx-navigation/common/src/commonMain/kotlin/com/bumble/appyx/navigation/node/spotlight/SpotlightNode.kt
  demos/sandbox-appyx-navigation/common/src/commonMain/kotlin/com/bumble/appyx/navigation/node/spotlight/SpotlightObserveTransitionsExampleNode.kt
  demos/sandbox-appyx-navigation/common/src/commonMain/kotlin/com/bumble/appyx/navigation/node/spotlight/debug/SpotlightDebugNode.kt
Labels: appyx-components-spotlight, visual bug

#632 Make dependencies on download page kts-friendly
  documentation/releases/downloads.md
Labels: documentation

#637 Add documentation page on the navigation sample app
  documentation/assets/navigation/cake-app-tree.png
  documentation/assets/navigation/sample-app.png
  documentation/assets/navigation/tree-animated.gif
  documentation/navigation/index.md
  documentation/navigation/sample-app.md
  mkdocs.yml
Labels: documentation, samples
