Repository bumble-tech/appyx, pull requests merged in 2023-07, with the labels that each got.

#510 Web experimental samples
  appyx-components/experimental/cards/common/src/commonMain/kotlin/com/bumble/appyx/components/experimental/cards/operation/VoteLike.kt
  appyx-components/experimental/cards/common/src/commonMain/kotlin/com/bumble/appyx/components/experimental/cards/operation/VotePass.kt
  appyx-components/experimental/puzzle15/common/src/commonMain/kotlin/com/bumble/appyx/components/experimental/puzzle15/ui/Puzzle15Ui.kt
  demos/mkdocs/appyx-components/experimental/datingcards/web/build.gradle.kts
  demos/mkdocs/appyx-components/experimental/datingcards/web/src/jsMain/kotlin/com/bumble/appyx/demos/experimental/datingcards/DatingCardsSample.kt
  demos/mkdocs/appyx-components/experimental/datingcards/web/src/jsMain/kotlin/com/bumble/appyx/demos/experimental/datingcards/main.js.kt
  demos/mkdocs/appyx-components/experimental/datingcards/web/src/jsMain/resources/index.html
  demos/mkdocs/appyx-components/experimental/datingcards/web/src/jsMain/resources/styles.css
  demos/mkdocs/appyx-components/experimental/puzzle15/web/build.gradle.kts
  demos/mkdocs/appyx-components/experimental/puzzle15/web/src/jsMain/kotlin/com/bumble/appyx/demos/experimental/puzzle15/main.js.kt
  demos/mkdocs/appyx-components/experimental/puzzle15/web/src/jsMain/resources/index.html
  demos/mkdocs/appyx-components/experimental/puzzle15/web/src/jsMain/resources/styles.css
  documentation/components/experimental.md
  documentation/components/index.md
  mkdocs.yml
  settings.gradle.kts
Labels: documentation, experimental

#519 Fix mkdocs site url
  .github/workflows/build.yml
  compose_mpp_sample.py
  mkdocs.yml
Labels: documentation

#520 Duplicate draggable fixes for AppyxComponent
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/model/AppyxComponent.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/model/BaseAppyxComponent.kt
  appyx-navigation/src/main/kotlin/com/bumble/appyx/navigation/composable/AppyxComponent.kt
  demos/appyx-navigation/src/main/kotlin/com/bumble/appyx/navigation/node/spotlight/SpotlightNode.kt
Labels: duplicate, appyx-navigation

#522 Add redirects for 1.x-related links
  .github/workflows/build.yml
  .github/workflows/documentation.yml
  documentation/index.md
  mkdocs.yml
Labels: documentation

#528 Update documentation
  .github/workflows/build.yml
  .github/workflows/documentation.yml
  documentation/1.x/apps/childaware.md
  documentation/1.x/apps/configuration.md
  documentation/1.x/apps/lifecycle.md
  documentation/1.x/apps/plugins.md
  documentation/1.x/apps/structure.md
  documentation/1.x/deprecation.md
  documentation/1.x/faq.md
  documentation/1.x/how-to-use-appyx/codelabs.md
  documentation/1.x/how-to-use-appyx/coding-challenges.md
  documentation/1.x/how-to-use-appyx/quick-start.md
  documentation/1.x/how-to-use-appyx/sample-apps.md
  documentation/1.x/index.md
  documentation/1.x/navigation/composable-navigation.md
  documentation/1.x/navigation/deep-linking.md
  documentation/1.x/navigation/explicit-navigation.md
  documentation/1.x/navigation/implicit-navigation.md
  documentation/1.x/navigation/model-driven-navigation.md
  documentation/1.x/navmodel/backstack.md
  documentation/1.x/navmodel/cards.md
  documentation/1.x/navmodel/custom.md
  documentation/1.x/navmodel/index.md
  documentation/1.x/navmodel/promoter.md
  documentation/1.x/navmodel/spotlight.md
  documentation/1.x/navmodel/tiles.md
  documentation/1.x/news.md
  documentation/1.x/releases/changelog.md
  documentation/1.x/releases/downloads.md
  documentation/1.x/ui/children-view.md
  documentation/1.x/ui/transitions.md
  documentation/index.md
  mkdocs.yml
Labels: documentation

#532 Make sure only top-most stashed element is visible
  CHANGELOG.md
  appyx-components/stable/backstack/android/src/androidTest/kotlin/com/bumble/appyx/components/backstack/android/BackStackTest.kt
  appyx-components/stable/backstack/android/src/androidTest/kotlin/com/bumble/appyx/components/backstack/ui/parallax/BackStackParallaxTest.kt
  appyx-components/stable/backstack/common/src/commonMain/kotlin/com/bumble/appyx/components/backstack/ui/parallax/BackStackParallax.kt
  appyx-components/stable/backstack/common/src/commonMain/kotlin/com/bumble/appyx/components/backstack/ui/parallax/TargetUiState.kt
  demos/appyx-navigation/src/main/kotlin/com/bumble/appyx/navigation/node/backstack/BackStackExamplesNode.kt
  demos/mkdocs/appyx-components/backstack/parallax/web/src/jsMain/kotlin/com/bumble/appyx/demos/backstack/parallax/BackStackParallaxSample.kt
Labels: appyx-interactions, appyx-components-backstack

#540 Update 2.0 migration guide
  documentation/2.x/migrationguide.md
Labels: documentation

#541 Responsive samples
  demos/mkdocs/appyx-components/backstack/fader/web/src/jsMain/resources/styles.css
  demos/mkdocs/appyx-components/backstack/parallax/web/src/jsMain/resources/styles.css
  demos/mkdocs/appyx-components/backstack/slider/web/src/jsMain/resources/styles.css
  demos/mkdocs/appyx-components/backstack/stack3d/web/src/jsMain/resources/styles.css
  demos/mkdocs/appyx-components/experimental/datingcards/web/src/jsMain/resources/styles.css
  demos/mkdocs/appyx-components/experimental/puzzle15/web/src/jsMain/resources/styles.css
  demos/mkdocs/appyx-components/spotlight/fader/web/src/jsMain/resources/styles.css
  demos/mkdocs/appyx-components/spotlight/slider/web/src/jsMain/resources/styles.css
  demos/mkdocs/appyx-components/spotlight/sliderrotation/web/src/jsMain/resources/styles.css
  demos/mkdocs/appyx-components/spotlight/sliderscale/web/src/jsMain/resources/styles.css
  demos/mkdocs/appyx-components/spotlight/stack3d/web/src/jsMain/resources/styles.css
  demos/mkdocs/appyx-interactions/gestures/dragprediction/web/src/jsMain/resources/styles.css
  demos/mkdocs/appyx-interactions/gestures/incompletedrag/web/src/jsMain/resources/styles.css
  demos/mkdocs/appyx-interactions/interactions/sample1/web/src/jsMain/resources/styles.css
  demos/mkdocs/appyx-interactions/interactions/sample2/web/src/jsMain/resources/styles.css
  demos/mkdocs/appyx-interactions/interactions/sample3/web/src/jsMain/resources/styles.css
  documentation/stylesheets/extra.css
Labels: documentation

#539 Position alignment
  CHANGELOG.md
  appyx-components/experimental/puzzle15/common/src/commonMain/kotlin/com/bumble/appyx/components/experimental/puzzle15/ui/Puzzle15MotionController.kt
  appyx-components/internal/test-drive/android/screenshots/GesturesTest_drag_to_middle.png
  appyx-components/internal/test-drive/android/screenshots/GesturesTest_given_element_dragged_to_the_second_position_when_dragged_back_then_first_element_is_visible_1.png
  appyx-components/internal/test-drive/android/screenshots/GesturesTest_given_element_dragged_to_the_second_position_when_dragged_back_then_first_element_is_visible_2.png
  appyx-components/internal/test-drive/android/screenshots/GesturesTest_when_drag_past_maximum_value_then_second_at_maximum_value_is_visible.png
  appyx-components/internal/test-drive/android/screenshots/GesturesTest_when_released_after_threshold_snaps_to_destination.png
  appyx-components/internal/test-drive/android/screenshots/GesturesTest_when_released_before_threshold_snaps_to_origin.png
  appyx-components/internal/test-drive/android/screenshots/KeyframesTest_basic_behaviour_all_at_once.png
  appyx-components/internal/test-drive/android/screenshots/KeyframesTest_basic_behaviour_one_segment.png
  appyx-components/internal/test-drive/android/screenshots/KeyframesTest_basic_behaviour_sequential.png
  appyx-components/internal/test-drive/android/screenshots/KeyframesTest_when_keyframe_is_running_then_possible_to_enqueue_more_operations.png
  appyx-components/internal/test-drive/android/screenshots/KeyframesTest_when_passing_segment_threshold_then_no_artefacts.png
  appyx-components/internal/test-drive/android/screenshots/KeyframesToUpdateTest_when_in_segment_interrupt_with_update.png
  appyx-components/internal/test-drive/android/screenshots/UpdateTest_basic_behaviour_multiple.png
  appyx-components/internal/test-drive/android/screenshots/UpdateTest_basic_behaviour_one_update.png
  appyx-components/internal/test-drive/android/screenshots/UpdateToKeyframesTest_when_animation_settles_go_back_to_keyframe_mode.png
  appyx-components/internal/test-drive/android/screenshots/UpdateToKeyframesTest_when_update_not_settled_keyframe_is_update.png
  appyx-components/internal/test-drive/android/src/androidTest/kotlin/com/bumble/appyx/components/internal/testdrive/android/helper/TestDriveUtils.kt
  appyx-components/internal/test-drive/common/src/commonMain/kotlin/com/bumble/appyx/components/internal/testdrive/TestDriveExperiment.kt
  appyx-components/internal/test-drive/common/src/commonMain/kotlin/com/bumble/appyx/components/internal/testdrive/ui/rotation/TestDriveRotationMotionController.kt
  appyx-components/internal/test-drive/common/src/commonMain/kotlin/com/bumble/appyx/components/internal/testdrive/ui/simple/TargetUiState.kt
  appyx-components/internal/test-drive/common/src/commonMain/kotlin/com/bumble/appyx/components/internal/testdrive/ui/simple/TestDriveSimpleMotionController.kt
  appyx-components/stable/spotlight/common/src/commonMain/kotlin/com/bumble/appyx/components/spotlight/ui/slider/TargetUiState.kt
  appyx-components/stable/spotlight/common/src/commonMain/kotlin/com/bumble/appyx/components/spotlight/ui/sliderrotation/TargetUiState.kt
  appyx-components/stable/spotlight/common/src/commonMain/kotlin/com/bumble/appyx/components/spotlight/ui/sliderscale/TargetUiState.kt
  appyx-components/stable/spotlight/common/src/commonMain/kotlin/com/bumble/appyx/components/spotlight/ui/stack3d/TargetUiState.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/DraggableChildren.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/ui/context/UiContext.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/ui/property/impl/Position.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/sample/Children.kt
  appyx-navigation/src/main/kotlin/com/bumble/appyx/navigation/composable/AppyxComponent.kt
  demos/mkdocs/appyx-interactions/gestures/dragprediction/web/src/jsMain/kotlin/com/bumble/appyx/demos/dragprediction/DragPrediction.kt
  demos/mkdocs/appyx-interactions/gestures/dragprediction/web/src/jsMain/kotlin/com/bumble/appyx/demos/dragprediction/DragPredictionMotionController.kt
  demos/mkdocs/appyx-interactions/gestures/incompletedrag/web/src/jsMain/kotlin/com/bumble/appyx/demos/incompletedrag/IncompleteDragMotionController.kt
  demos/mkdocs/appyx-interactions/interactions/sample1/web/src/jsMain/kotlin/com/bumble/appyx/demos/sample1/Sample1MotionController.kt
  demos/mkdocs/appyx-interactions/interactions/sample2/web/src/jsMain/kotlin/com/bumble/appyx/demos/sample2/Sample2MotionController.kt
  demos/mkdocs/appyx-interactions/interactions/sample3/web/src/jsMain/kotlin/com/bumble/appyx/demos/sample3/Sample3.kt
  demos/mkdocs/appyx-interactions/interactions/sample3/web/src/jsMain/kotlin/com/bumble/appyx/demos/sample3/Sample3MotionController.kt
  documentation/interactions/index.md
  documentation/interactions/uirepresentation.md
Labels: enhancement, appyx-interactions

#538 Allow children to observe transition motion properties
  CHANGELOG.md
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/DraggableChildren.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/ui/CompositionLocals.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/ui/output/ElementUiModel.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/ui/property/MotionPropertyComposables.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/ui/state/BaseMutableUiState.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/sample/Children.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/transitionmodel/BaseMotionController.kt
  appyx-navigation/src/main/kotlin/com/bumble/appyx/navigation/composable/Child.kt
  demos/appyx-interactions/android/src/main/kotlin/com/bumble/appyx/interactions/sample/SpotlightExperiment.kt
  demos/appyx-navigation/src/main/kotlin/com/bumble/appyx/navigation/node/container/ContainerNode.kt
  demos/appyx-navigation/src/main/kotlin/com/bumble/appyx/navigation/node/spotlight/SpotlightObserveTransitionsExampleNode.kt
  demos/mkdocs/appyx-components/common/src/commonMain/kotlin/com/bumble/appyx/demos/common/AppyxWebSample.kt
  demos/mkdocs/appyx-interactions/interactions/observemp/web/build.gradle.kts
  demos/mkdocs/appyx-interactions/interactions/observemp/web/src/jsMain/kotlin/com.bumble.appyx.demos.observemp/ObserveMotionPropertiesSample.kt
  demos/mkdocs/appyx-interactions/interactions/observemp/web/src/jsMain/kotlin/com.bumble.appyx.demos.observemp/main.js.kt
  demos/mkdocs/appyx-interactions/interactions/observemp/web/src/jsMain/resources/index.html
  demos/mkdocs/appyx-interactions/interactions/observemp/web/src/jsMain/resources/styles.css
  documentation/interactions/uirepresentation.md
  settings.gradle.kts
Labels: enhancement, appyx-interactions

#544 Fix Position's default alignment vs default displacement
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/ui/property/impl/Position.kt
Labels: bug, appyx-interactions

#542 Desktop widget representation
  demos/appyx-interactions/desktop/build.gradle.kts
  demos/appyx-interactions/desktop/src/desktopMain/kotlin/com/bumble/appyx/interactions/widgets/Widgets.kt
  demos/appyx-interactions/desktop/src/desktopMain/kotlin/com/bumble/appyx/interactions/widgets/ui/TargetUiState.kt
  demos/appyx-interactions/desktop/src/desktopMain/kotlin/com/bumble/appyx/interactions/widgets/ui/WidgetsStack3D.kt
Labels: appyx-interactions, desktop

#549 Set explicit TopCenter alignment for BackStack3D
  appyx-components/stable/backstack/common/src/commonMain/kotlin/com/bumble/appyx/components/backstack/ui/stack3d/BackStack3D.kt
Labels: samples, visual bug
