Repository bumble-tech/appyx, pull requests merged in 2023-09, with the labels that each got.

#584 Fix applying offset twice in `AppyxComponent`
  CHANGELOG.md
  appyx-navigation/common/src/commonMain/kotlin/com/bumble/appyx/navigation/composable/AppyxComponent.kt
Labels: bug, gestures, appyx-interactions

#585 Fix drag vs align
  CHANGELOG.md
  appyx-components/experimental/cards/android/src/main/kotlin/com/bumble/appyx/components/experimental/cards/android/DatingCards.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/DraggableChildren.kt
  appyx-navigation/common/src/commonMain/kotlin/com/bumble/appyx/navigation/composable/AppyxComponent.kt
  demos/appyx-navigation/common/src/commonMain/kotlin/com/bumble/appyx/navigation/node/spotlight/SpotlightNode.kt
Labels: bug, gestures, appyx-interactions

#571 Avoid MotionController recreation
  CHANGELOG.md
  appyx-components/experimental/promoter/android/src/main/kotlin/com/bumble/appyx/components/experimental/promoter/android/PromoterExperiment.kt
  appyx-components/experimental/promoter/common/src/commonMain/kotlin/com/bumble/appyx/components/experimental/promoter/ui/PromoterMotionController.kt
  appyx-components/stable/backstack/common/src/commonMain/kotlin/com/bumble/appyx/components/backstack/ui/parallax/BackStackParallax.kt
  appyx-components/stable/backstack/common/src/commonMain/kotlin/com/bumble/appyx/components/backstack/ui/parallax/TargetUiState.kt
  appyx-components/stable/backstack/common/src/commonMain/kotlin/com/bumble/appyx/components/backstack/ui/slider/BackStackSlider.kt
  appyx-components/stable/backstack/common/src/commonMain/kotlin/com/bumble/appyx/components/backstack/ui/slider/TargetUiState.kt
  appyx-components/stable/backstack/common/src/commonMain/kotlin/com/bumble/appyx/components/backstack/ui/stack3d/BackStack3D.kt
  appyx-components/stable/spotlight/common/src/commonMain/kotlin/com/bumble/appyx/components/spotlight/ui/stack3d/SpotlightStack3D.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/DraggableChildren.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/model/BaseAppyxComponent.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/ui/MotionController.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/ui/context/TransitionBounds.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/ui/context/TransitionBoundsAware.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/ui/context/UiContext.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/ui/state/BaseMutableUiState.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/sample/Children.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/transitionmodel/BaseMotionController.kt
  appyx-navigation/common/src/commonMain/kotlin/com/bumble/appyx/navigation/composable/AppyxComponent.kt
  demos/appyx-interactions/desktop/src/desktopMain/kotlin/com/bumble/appyx/interactions/widgets/ui/WidgetsStack3D.kt
  demos/appyx-navigation/common/src/commonMain/kotlin/com/bumble/appyx/navigation/node/promoter/PromoterNode.kt
Labels: bug, appyx-interactions, visual bug

#589 Fix visibility resolution when item is less then a parent
  CHANGELOG.md
  appyx-components/experimental/promoter/common/src/commonMain/kotlin/com/bumble/appyx/components/experimental/promoter/ui/PromoterMotionController.kt
  appyx-interactions/android/build.gradle.kts
  appyx-interactions/android/src/androidTest/kotlin/com/bumble/appyx/interactions/ui/state/MutableUiStateTest.kt
  appyx-interactions/android/src/androidTest/kotlin/com/bumble/appyx/interactions/ui/state/TestMutableUiState.kt
  appyx-interactions/android/src/androidTest/kotlin/com/bumble/appyx/interactions/ui/state/TestTargetUiState.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/ui/state/BaseMutableUiState.kt
  ksp/mutable-ui-processor/src/commonMain/kotlin/com/bumble/appyx/interactions/ksp/MutableUiStateProcessor.kt
Labels: bug, appyx-interactions

#588 Set bounds on all new motion controllers
  CHANGELOG.md
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/model/BaseAppyxComponent.kt
Labels: bug, appyx-interactions

#592 Fix Backstack3D Motion Controller
  CHANGELOG.md
  appyx-components/stable/backstack/common/src/commonMain/kotlin/com/bumble/appyx/components/backstack/ui/stack3d/BackStack3D.kt
Labels: appyx-components-backstack, visual bug

#595 Fix web samples paddings
  demos/mkdocs/appyx-components/common/src/commonMain/kotlin/com/bumble/appyx/demos/common/AppyxWebSample.kt
Labels: samples, visual bug

#599 Issue #494: Add flag to control gesture continuity
  CHANGELOG.md
  appyx-components/experimental/puzzle15/common/src/commonMain/kotlin/com/bumble/appyx/components/experimental/puzzle15/ui/Puzzle15MotionController.kt
  appyx-components/stable/backstack/common/src/commonMain/kotlin/com/bumble/appyx/components/backstack/ui/parallax/BackStackParallax.kt
  appyx-components/stable/backstack/common/src/commonMain/kotlin/com/bumble/appyx/components/backstack/ui/stack3d/BackStack3D.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/model/progress/DragProgressController.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/ui/gesture/GestureFactory.kt
  documentation/interactions/gestures.md
Labels: enhancement, gestures, appyx-interactions

#602 Update documentation
  documentation/navigation/quick-start.md
  documentation/releases/downloads.md
Labels: documentation
