Repository bumble-tech/appyx, pull requests merged in 2024-02, with the labels that each got.

#668 Appyx 1.x - Rename integration point
  documentation/how-to-use-appyx/quick-start.md
  documentation/navigation/deep-linking.md
  documentation/navigation/explicit-navigation.md
  libraries/core/src/androidTest/kotlin/com/bumble/appyx/core/AppyxTestScenario.kt
  libraries/core/src/main/kotlin/com/bumble/appyx/core/integrationpoint/ActivityIntegrationPoint.kt
  libraries/core/src/main/kotlin/com/bumble/appyx/core/integrationpoint/IntegrationPointProvider.kt
  libraries/core/src/main/kotlin/com/bumble/appyx/core/integrationpoint/NodeActivity.kt
  libraries/core/src/main/kotlin/com/bumble/appyx/core/integrationpoint/NodeComponentActivity.kt
  libraries/interop-ribs/src/androidTest/kotlin/com/bumble/appyx/interop/ribs/AppyxRibsInteropActivity.kt
  libraries/interop-ribs/src/main/kotlin/com/bumble/appyx/interop/ribs/InteropActivity.kt
  libraries/testing-ui/src/main/kotlin/com/bumble/appyx/testing/ui/rules/AppyxActivityTestRule.kt
  samples/app/src/main/kotlin/com/bumble/appyx/app/MainActivity.kt
  samples/navigation-compose/src/androidTest/kotlin/com/bumble/appyx/sample/navigtion/compose/ComposeNavigationRootTest.kt
  samples/sandbox/src/main/kotlin/com/bumble/appyx/sandbox/MainActivity.kt
  samples/sandbox/src/main/kotlin/com/bumble/appyx/sandbox/client/customisations/ViewCustomisationsActivity.kt
  samples/sandbox/src/main/kotlin/com/bumble/appyx/sandbox/client/explicitnavigation/ExplicitNavigationExampleActivity.kt
  samples/sandbox/src/main/kotlin/com/bumble/appyx/sandbox/client/interop/InteropExampleActivity.kt
Labels: api-breaking, appyx-navigation

#673 Fix canHandeBackPress typo
  CHANGELOG.md
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/model/AppyxComponent.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/model/BaseAppyxComponent.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/model/CombinedAppyxComponent.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/model/EmptyAppyxComponent.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/permanent/PermanentAppyxComponent.kt
  appyx-navigation/common/src/commonMain/kotlin/com/bumble/appyx/navigation/node/Node.kt
  documentation/releases/2.0.0-alpha11.md
Labels: appyx-interactions, appyx-navigation

#677 Moved Builder, SimpleBuilder, Interactor to separate module
  CHANGELOG.md
  documentation/releases/2.0.0-alpha11.md
  documentation/releases/downloads.md
  settings.gradle.kts
  utils/ribs-helpers/build.gradle.kts
  utils/ribs-helpers/lint-baseline.xml
  utils/ribs-helpers/src/main/kotlin/com/bumble/appyx/utils/ribshelpers/builder/Builder.kt
  utils/ribs-helpers/src/main/kotlin/com/bumble/appyx/utils/ribshelpers/builder/SimpleBuilder.kt
  utils/ribs-helpers/src/main/kotlin/com/bumble/appyx/utils/ribshelpers/interactor/Interactor.kt
  utils/testing-unit-common/build.gradle.kts
  utils/testing-unit-common/src/main/kotlin/com/bumble/appyx/utils/testing/unit/common/util/InteropBuilderStub.kt
  utils/testing-unit-common/src/main/kotlin/com/bumble/appyx/utils/testing/unit/common/util/InteropSimpleBuilderStub.kt
Labels: cleanup, api-breaking

#679 Simple api for backStackNode and spotlightNode
  CHANGELOG.md
  appyx-components/standard/backstack/android/src/androidTest/kotlin/com/bumble/appyx/components/backstack/android/BackStackTest.kt
  appyx-components/standard/backstack/android/src/androidTest/kotlin/com/bumble/appyx/components/backstack/ui/parallax/BackStackParallaxTest.kt
  appyx-components/standard/backstack/common/build.gradle.kts
  appyx-components/standard/backstack/common/src/commonMain/kotlin/com/bumble/appyx/components/backstack/BackStack.kt
  appyx-components/standard/backstack/common/src/commonMain/kotlin/com/bumble/appyx/components/backstack/BackStackModel.kt
  appyx-components/standard/backstack/common/src/commonMain/kotlin/com/bumble/appyx/components/backstack/BackStackModelExt.kt
  appyx-components/standard/backstack/common/src/commonMain/kotlin/com/bumble/appyx/components/backstack/backpresshandler/PopBackstackStrategy.kt
  appyx-components/standard/backstack/common/src/commonMain/kotlin/com/bumble/appyx/components/backstack/node/backStackNode.kt
  appyx-components/standard/backstack/common/src/commonMain/kotlin/com/bumble/appyx/components/backstack/operation/NewRoot.kt
  appyx-components/standard/backstack/common/src/commonMain/kotlin/com/bumble/appyx/components/backstack/operation/Pop.kt
  appyx-components/standard/backstack/common/src/commonMain/kotlin/com/bumble/appyx/components/backstack/operation/Push.kt
  appyx-components/standard/backstack/common/src/commonMain/kotlin/com/bumble/appyx/components/backstack/operation/Replace.kt
  appyx-components/standard/backstack/common/src/commonMain/kotlin/com/bumble/appyx/components/backstack/ui/fader/BackStackFader.kt
  appyx-components/standard/backstack/common/src/commonMain/kotlin/com/bumble/appyx/components/backstack/ui/parallax/BackStackParallax.kt
  appyx-components/standard/backstack/common/src/commonMain/kotlin/com/bumble/appyx/components/backstack/ui/slider/BackStackSlider.kt
  appyx-components/standard/backstack/common/src/commonMain/kotlin/com/bumble/appyx/components/backstack/ui/stack3d/BackStack3D.kt
  appyx-components/standard/backstack/common/src/commonTest/kotlin/com/bumble/appyx/components/stable/backstack/TestTarget.kt
  appyx-components/standard/backstack/common/src/commonTest/kotlin/com/bumble/appyx/components/stable/backstack/operation/NewRootTest.kt
  appyx-components/standard/backstack/common/src/commonTest/kotlin/com/bumble/appyx/components/stable/backstack/operation/PopTest.kt
  appyx-components/standard/backstack/common/src/commonTest/kotlin/com/bumble/appyx/components/stable/backstack/operation/PushTest.kt
  appyx-components/standard/backstack/common/src/commonTest/kotlin/com/bumble/appyx/components/stable/backstack/operation/ReplaceTest.kt
  appyx-components/standard/backstack/common/src/commonTest/kotlin/com/bumble/appyx/components/stable/backstack/restore/BackstackRestoreTest.kt
  appyx-components/standard/spotlight/android/src/androidTest/kotlin/com/bumble/appyx/components/spotlight/android/SpotlightTest.kt
  appyx-components/standard/spotlight/android/src/androidTest/kotlin/com/bumble/appyx/components/spotlight/android/utils/SpotlightUtils.kt
  appyx-components/standard/spotlight/common/build.gradle.kts
  appyx-components/standard/spotlight/common/src/commonMain/kotlin/com/bumble/appyx/components/spotlight/Spotlight.kt
  appyx-components/standard/spotlight/common/src/commonMain/kotlin/com/bumble/appyx/components/spotlight/SpotlightModel.kt
  appyx-components/standard/spotlight/common/src/commonMain/kotlin/com/bumble/appyx/components/spotlight/node/spotlightNode.kt
  appyx-components/standard/spotlight/common/src/commonMain/kotlin/com/bumble/appyx/components/spotlight/operation/Activate.kt
  appyx-components/standard/spotlight/common/src/commonMain/kotlin/com/bumble/appyx/components/spotlight/operation/First.kt
  appyx-components/standard/spotlight/common/src/commonMain/kotlin/com/bumble/appyx/components/spotlight/operation/Last.kt
  appyx-components/standard/spotlight/common/src/commonMain/kotlin/com/bumble/appyx/components/spotlight/operation/Next.kt
  appyx-components/standard/spotlight/common/src/commonMain/kotlin/com/bumble/appyx/components/spotlight/operation/Previous.kt
  appyx-components/standard/spotlight/common/src/commonMain/kotlin/com/bumble/appyx/components/spotlight/operation/UpdateElements.kt
  appyx-components/standard/spotlight/common/src/commonMain/kotlin/com/bumble/appyx/components/spotlight/ui/fader/SpotlightFader.kt
  appyx-components/standard/spotlight/common/src/commonMain/kotlin/com/bumble/appyx/components/spotlight/ui/slider/SpotlightSlider.kt
  appyx-components/standard/spotlight/common/src/commonMain/kotlin/com/bumble/appyx/components/spotlight/ui/sliderrotation/SpotlightSliderRotation.kt
  appyx-components/standard/spotlight/common/src/commonMain/kotlin/com/bumble/appyx/components/spotlight/ui/sliderscale/SpotlightSliderScale.kt
  appyx-components/standard/spotlight/common/src/commonMain/kotlin/com/bumble/appyx/components/spotlight/ui/stack3d/SpotlightStack3D.kt
  appyx-components/standard/spotlight/common/src/commonTest/kotlin/com/bumble/appyx/components/spotlight/TestTarget.kt
  appyx-components/standard/spotlight/common/src/commonTest/kotlin/com/bumble/appyx/components/spotlight/model/SpotlightModelTest.kt
  appyx-components/standard/spotlight/common/src/commonTest/kotlin/com/bumble/appyx/components/spotlight/operation/ActivateTest.kt
  appyx-components/standard/spotlight/common/src/commonTest/kotlin/com/bumble/appyx/components/spotlight/operation/FirstTest.kt
  appyx-components/standard/spotlight/common/src/commonTest/kotlin/com/bumble/appyx/components/spotlight/operation/LastTest.kt
  appyx-components/standard/spotlight/common/src/commonTest/kotlin/com/bumble/appyx/components/spotlight/operation/NextTest.kt
  appyx-components/standard/spotlight/common/src/commonTest/kotlin/com/bumble/appyx/components/spotlight/operation/PreviousTest.kt
  appyx-components/standard/spotlight/common/src/commonTest/kotlin/com/bumble/appyx/components/spotlight/operation/UpdateElementsTest.kt
  appyx-interactions/android/src/main/kotlin/com/bumble/appyx/interactions/testing/TestTarget.kt
  appyx-navigation/common/src/commonMain/kotlin/com/bumble/appyx/navigation/node/ComponentNode.kt
  demos/appyx-navigation/common/src/commonMain/kotlin/com/bumble/appyx/demos/navigation/node/checkout/CheckoutNode.kt
  demos/appyx-navigation/common/src/commonMain/kotlin/com/bumble/appyx/demos/navigation/node/main/MainNavItem.kt
  demos/mkdocs/appyx-components/common/src/commonMain/kotlin/com/bumble/appyx/demos/common/AppyxWebSample.kt
Labels: enhancement, appyx-components-backstack, appyx-components-spotlight

#678 Appyx-interactions cleanup
  appyx-components/experimental/cards/android/build.gradle.kts
  appyx-components/experimental/cards/android/src/main/kotlin/com/bumble/appyx/components/experimental/cards/android/DatingCards.kt
  appyx-components/experimental/promoter/android/build.gradle.kts
  appyx-components/experimental/promoter/android/src/main/kotlin/com/bumble/appyx/components/experimental/promoter/android/PromoterExperiment.kt
  appyx-components/experimental/puzzle15/android/build.gradle.kts
  appyx-components/experimental/puzzle15/android/src/main/kotlin/com/bumble/appyx/components/experimental/puzzle15/android/Puzzle15.kt
  appyx-components/internal/test-drive/android/build.gradle.kts
  appyx-components/internal/test-drive/android/src/androidTest/kotlin/com/bumble/appyx/components/internal/testdrive/android/GesturesTest.kt
  appyx-components/internal/test-drive/android/src/androidTest/kotlin/com/bumble/appyx/components/internal/testdrive/android/KeyframesTest.kt
  appyx-components/internal/test-drive/android/src/androidTest/kotlin/com/bumble/appyx/components/internal/testdrive/android/KeyframesToUpdateTest.kt
  appyx-components/internal/test-drive/android/src/androidTest/kotlin/com/bumble/appyx/components/internal/testdrive/android/UpdateTest.kt
  appyx-components/internal/test-drive/android/src/androidTest/kotlin/com/bumble/appyx/components/internal/testdrive/android/UpdateToKeyframesTest.kt
  appyx-components/internal/test-drive/android/src/androidTest/kotlin/com/bumble/appyx/components/internal/testdrive/android/helper/TestDriveUtils.kt
  appyx-components/internal/test-drive/android/src/main/kotlin/com/bumble/appyx/components/internal/testdrive/android/TestDriveExperiment.kt
  appyx-components/standard/backstack/android/build.gradle.kts
  appyx-components/standard/backstack/android/src/androidTest/kotlin/com/bumble/appyx/components/backstack/android/BackStackTest.kt
  appyx-components/standard/backstack/android/src/androidTest/kotlin/com/bumble/appyx/components/backstack/ui/parallax/BackStackParallaxTest.kt
  appyx-components/standard/spotlight/android/build.gradle.kts
  appyx-components/standard/spotlight/android/src/androidTest/kotlin/com/bumble/appyx/components/spotlight/android/SpotlightTest.kt
  appyx-components/standard/spotlight/android/src/androidTest/kotlin/com/bumble/appyx/components/spotlight/android/SpotlightViewpointTest.kt
  appyx-components/standard/spotlight/android/src/androidTest/kotlin/com/bumble/appyx/components/spotlight/android/utils/SpotlightUtils.kt
  appyx-interactions/android-utils/build.gradle.kts
  appyx-interactions/android-utils/lint-baseline.xml
  appyx-interactions/android-utils/src/main/java/com/bumble/appyx/interactions/utils/testing/ComposeContentTestRuleExt.kt
  appyx-interactions/android-utils/src/main/java/com/bumble/appyx/interactions/utils/testing/Snapshot.kt
  appyx-interactions/android-utils/src/main/java/com/bumble/appyx/interactions/utils/testing/TestTarget.kt
  appyx-interactions/android-utils/src/main/java/com/bumble/appyx/interactions/utils/testing/Utils.kt
  appyx-interactions/android-utils/src/main/java/com/bumble/appyx/interactions/utils/ui/Colors.kt
  appyx-interactions/android-utils/src/main/java/com/bumble/appyx/interactions/utils/ui/SampleChildren.kt
  appyx-interactions/android-utils/src/main/java/com/bumble/appyx/interactions/utils/ui/theme/Color.kt
  appyx-interactions/android-utils/src/main/java/com/bumble/appyx/interactions/utils/ui/theme/MaterialColors.kt
  appyx-interactions/android-utils/src/main/java/com/bumble/appyx/interactions/utils/ui/theme/Shape.kt
  appyx-interactions/android-utils/src/main/java/com/bumble/appyx/interactions/utils/ui/theme/Theme.kt
  appyx-interactions/android-utils/src/main/java/com/bumble/appyx/interactions/utils/ui/theme/Type.kt
  appyx-interactions/android/build.gradle.kts
  appyx-interactions/android/src/main/kotlin/com/bumble/appyx/interactions/sample/Ext.kt
  appyx-interactions/android/src/main/kotlin/com/bumble/appyx/interactions/sample/InteractionTarget.kt
  build.gradle.kts
  demos/appyx-interactions/android/build.gradle.kts
  demos/appyx-interactions/android/src/main/kotlin/com/bumble/appyx/interactions/MainActivity.kt
  demos/appyx-interactions/android/src/main/kotlin/com/bumble/appyx/interactions/sample/KnobControl.kt
  demos/appyx-interactions/android/src/main/kotlin/com/bumble/appyx/interactions/sample/SpotlightExperiment.kt
  demos/appyx-interactions/android/src/main/kotlin/com/bumble/appyx/interactions/sample/SpotlightVisualisationType.kt
  gradle/libs.versions.toml
  settings.gradle.kts
Labels: cleanup, appyx-interactions

#667 Appyx 2.x - Rename integration point
  appyx-navigation/android/src/androidTest/kotlin/com/bumble/appyx/navigation/AppyxTestScenario.kt
  appyx-navigation/common/src/androidMain/kotlin/com/bumble/appyx/navigation/integration/ActivityIntegrationPoint.kt
  appyx-navigation/common/src/androidMain/kotlin/com/bumble/appyx/navigation/integration/NodeActivity.kt
  appyx-navigation/common/src/androidMain/kotlin/com/bumble/appyx/navigation/integration/NodeComponentActivity.kt
  appyx-navigation/common/src/commonMain/kotlin/com/bumble/appyx/navigation/integration/IntegrationPointProvider.kt
  benchmark/benchmark-app/src/main/kotlin/com/bumble/appyx/benchmark/app/MainActivity.kt
  demos/appyx-interactions/android/src/main/kotlin/com/bumble/appyx/interactions/MainActivity.kt
  demos/appyx-navigation/android/src/main/kotlin/com/bumble/appyx/demos/navigation/MainActivity.kt
  demos/navigation-compose/src/androidTest/kotlin/com/bumble/appyx/sample/navigtion/compose/ComposeNavigationRootTest.kt
  demos/sandbox-appyx-navigation/android/src/main/kotlin/com/bumble/appyx/demos/sandbox/navigation/MainActivity.kt
  documentation/2.x/migrationguide.md
  documentation/navigation/multiplatform.md
  utils/interop-ribs/src/androidTest/kotlin/com/bumble/appyx/utils/interop/ribs/AppyxRibsInteropActivity.kt
  utils/interop-ribs/src/main/kotlin/com/bumble/appyx/utils/interop/ribs/InteropActivity.kt
  utils/testing-ui/src/main/kotlin/com/bumble/appyx/utils/testing/ui/rules/AppyxActivityTestRule.kt
Labels: appyx-navigation

#675 Upgrade GitHub actions
  .github/workflows/build.yml
  .github/workflows/post_merge.yml
  .github/workflows/release.yml
Labels: build & CI

#681 Remove mkdocs deployment in 1.x
  .github/workflows/post_merge.yml
Labels: documentation, build & CI, complexity: low

#684 Fix regressions: Local UI state is not persisted and flickering
  CHANGELOG.md
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/composable/AppyxInteractionsContainer.kt
  appyx-navigation/common/src/commonMain/kotlin/com/bumble/appyx/navigation/composable/ChildRenderer.kt
Labels: bug, appyx-interactions, visual bug
