Repository bumble-tech/appyx, pull requests merged in 2024-01, with the labels that each got.

#647 Missing declaration issue
  appyx-navigation/common/src/commonMain/kotlin/com/bumble/appyx/navigation/node/Node.kt
Labels: appyx-navigation, P1, complexity: low, ios

#649 Don't use Compose leaked internal AtomicReference
  appyx-navigation/common/build.gradle.kts
  appyx-navigation/common/src/iosMain/kotlin/com/bumble/appyx/navigation/platform/OnBackPressedCallback.kt
  appyx-navigation/common/src/jsMain/kotlin/com/bumble/appyx/navigation/platform/OnBackPressedCallback.kt
  gradle.properties
Labels: appyx-navigation

#650 Remove dead code
  .github/workflows/build.yml
  appyx-components/composables/tabbednavigation/common/src/androidMain/AndroidManifest.xml
  appyx-components/composables/tabbednavigation/common/src/commonMain/kotlin/com/bumble/appyx/components/spotlight/Spotlight.kt
  appyx-components/composables/tabbednavigation/common/src/commonMain/kotlin/com/bumble/appyx/components/spotlight/SpotlightModel.kt
  appyx-components/composables/tabbednavigation/common/src/commonMain/kotlin/com/bumble/appyx/components/spotlight/operation/Activate.kt
  appyx-components/composables/tabbednavigation/common/src/commonMain/kotlin/com/bumble/appyx/components/spotlight/operation/First.kt
  appyx-components/composables/tabbednavigation/common/src/commonMain/kotlin/com/bumble/appyx/components/spotlight/operation/Last.kt
  appyx-components/composables/tabbednavigation/common/src/commonMain/kotlin/com/bumble/appyx/components/spotlight/operation/Next.kt
  appyx-components/composables/tabbednavigation/common/src/commonMain/kotlin/com/bumble/appyx/components/spotlight/operation/Previous.kt
  appyx-components/composables/tabbednavigation/common/src/commonMain/kotlin/com/bumble/appyx/components/spotlight/operation/UpdateElements.kt
  appyx-components/composables/tabbednavigation/common/src/commonMain/kotlin/com/bumble/appyx/components/spotlight/ui/fader/SpotlightFader.kt
  appyx-components/composables/tabbednavigation/common/src/commonMain/kotlin/com/bumble/appyx/components/spotlight/ui/fader/TargetUiState.kt
  appyx-components/composables/tabbednavigation/common/src/commonMain/kotlin/com/bumble/appyx/components/spotlight/ui/slider/SpotlightSlider.kt
  appyx-components/composables/tabbednavigation/common/src/commonMain/kotlin/com/bumble/appyx/components/spotlight/ui/slider/TargetUiState.kt
  appyx-components/composables/tabbednavigation/common/src/commonMain/kotlin/com/bumble/appyx/components/spotlight/ui/sliderrotation/SpotlightSliderRotation.kt
  appyx-components/composables/tabbednavigation/common/src/commonMain/kotlin/com/bumble/appyx/components/spotlight/ui/sliderrotation/TargetUiState.kt
  appyx-components/composables/tabbednavigation/common/src/commonMain/kotlin/com/bumble/appyx/components/spotlight/ui/sliderscale/SpotlightSliderScale.kt
  appyx-components/composables/tabbednavigation/common/src/commonMain/kotlin/com/bumble/appyx/components/spotlight/ui/sliderscale/TargetUiState.kt
  appyx-components/composables/tabbednavigation/common/src/commonMain/kotlin/com/bumble/appyx/components/spotlight/ui/stack3d/SpotlightStack3D.kt
  appyx-components/composables/tabbednavigation/common/src/commonMain/kotlin/com/bumble/appyx/components/spotlight/ui/stack3d/TargetUiState.kt
  appyx-components/composables/tabbednavigation/common/src/commonTest/kotlin/com/bumble/appyx/components/spotlight/InteractionTarget.kt
  appyx-components/composables/tabbednavigation/common/src/commonTest/kotlin/com/bumble/appyx/components/spotlight/model/SpotlightModelTest.kt
  appyx-components/composables/tabbednavigation/common/src/commonTest/kotlin/com/bumble/appyx/components/spotlight/operation/ActivateTest.kt
  appyx-components/composables/tabbednavigation/common/src/commonTest/kotlin/com/bumble/appyx/components/spotlight/operation/FirstTest.kt
  appyx-components/composables/tabbednavigation/common/src/commonTest/kotlin/com/bumble/appyx/components/spotlight/operation/LastTest.kt
  appyx-components/composables/tabbednavigation/common/src/commonTest/kotlin/com/bumble/appyx/components/spotlight/operation/NextTest.kt
  appyx-components/composables/tabbednavigation/common/src/commonTest/kotlin/com/bumble/appyx/components/spotlight/operation/PreviousTest.kt
  appyx-components/composables/tabbednavigation/common/src/commonTest/kotlin/com/bumble/appyx/components/spotlight/operation/UpdateElementsTest.kt
  appyx-components/stable/backstack/common/src/commonMain/kotlin/com/bumble/appyx/components/backstack/ui/stack3d/BackStack3D.kt
  appyx-interactions/android/src/main/kotlin/com/bumble/appyx/interactions/theme/Theme.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/ui/property/impl/position/PositionAlignment.kt
  appyx-interactions/common/src/commonTest/kotlin/com/bumble/appyx/interactions/core/UpdateTest.kt
  appyx-navigation/common/src/jsMain/kotlin/com/bumble/appyx/navigation/integration/BrowserViewportWindow.kt
  appyx-navigation/detekt-baseline.xml
  demos/appyx-interactions/android/src/main/kotlin/com/bumble/appyx/interactions/sample/SpotlightExperiment.kt
  demos/appyx-navigation/common/src/commonMain/kotlin/androidx/compose/material/icons/filled/Cake.kt
  demos/appyx-navigation/common/src/commonMain/kotlin/androidx/compose/material/icons/outlined/Cake.kt
  demos/appyx-navigation/common/src/commonMain/kotlin/com/bumble/appyx/navigation/node/cakes/CakeImageNode.kt
  demos/appyx-navigation/ios/src/iosMain/kotlin/main.ios.kt
  demos/sandbox-appyx-navigation/common/src/commonMain/kotlin/androidx/compose/material/icons/filled/ViewCarousel.kt
  demos/sandbox-appyx-navigation/common/src/commonMain/kotlin/androidx/compose/material/icons/filled/WebStories.kt
  demos/sandbox-appyx-navigation/common/src/commonMain/kotlin/androidx/compose/material/icons/outlined/GridView.kt
  demos/sandbox-appyx-navigation/common/src/commonMain/kotlin/androidx/compose/material/icons/outlined/ViewCarousel.kt
  demos/sandbox-appyx-navigation/common/src/commonMain/kotlin/androidx/compose/material/icons/outlined/WebStories.kt
  demos/sandbox-appyx-navigation/web/src/jsMain/kotlin/com/bumble/appyx/navigation/Main.kt
  plugins/convention/src/main/kotlin/com/bumble/appyx/android/AndroidCommonConfiguration.kt
  settings.gradle.kts
Labels: cleanup, P3, complexity: trivial

#658 Remove unused code
  appyx-components/experimental/modal/common/src/commonMain/kotlin/com/bumble/appyx/components/modal/Modal.kt
  appyx-components/stable/backstack/common/src/commonMain/kotlin/com/bumble/appyx/components/backstack/BackStack.kt
  appyx-components/stable/spotlight/common/src/commonMain/kotlin/com/bumble/appyx/components/spotlight/Spotlight.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/model/BaseAppyxComponent.kt
  appyx-interactions/common/src/commonMain/kotlin/com/bumble/appyx/interactions/core/model/progress/DebugProgressInputSource.kt
  demos/appyx-interactions/android/build.gradle.kts
  demos/appyx-interactions/android/src/main/kotlin/com/bumble/appyx/interactions/sample/BackstackExperimentDebug.kt
  demos/appyx-interactions/android/src/main/kotlin/com/bumble/appyx/interactions/sample/SpotlightExperimentDebug.kt
  demos/appyx-navigation/common/src/commonMain/kotlin/com/bumble/appyx/demos/navigation/component/spotlighthero/SpotlightHero.kt
  demos/sandbox-appyx-navigation/common/src/commonMain/kotlin/com/bumble/appyx/demos/sandbox/navigation/MainNavItem.kt
  demos/sandbox-appyx-navigation/common/src/commonMain/kotlin/com/bumble/appyx/demos/sandbox/navigation/node/backstack/debug/BackstackDebugNode.kt
  demos/sandbox-appyx-navigation/common/src/commonMain/kotlin/com/bumble/appyx/demos/sandbox/navigation/node/container/ContainerNode.kt
  demos/sandbox-appyx-navigation/common/src/commonMain/kotlin/com/bumble/appyx/demos/sandbox/navigation/node/spotlight/debug/SpotlightDebugNode.kt
Labels: cleanup

#662 Upgrade Gradle & Kotlin
  appyx-navigation/android/build.gradle.kts
  appyx-navigation/common/build.gradle.kts
  build.gradle.kts
  demos/appyx-interactions/ios/build.gradle.kts
  demos/appyx-interactions/ios/ios.podspec
  demos/appyx-interactions/iosApp/Configuration/Config.xcconfig
  demos/appyx-navigation/ios/build.gradle.kts
  demos/appyx-navigation/ios/ios.podspec
  demos/appyx-navigation/iosApp/Configuration/Config.xcconfig
  demos/image-loader/common/build.gradle.kts
  demos/navigation-compose/build.gradle.kts
  demos/sandbox-appyx-navigation/common/build.gradle.kts
  demos/sandbox-appyx-navigation/ios/build.gradle.kts
  demos/sandbox-appyx-navigation/ios/ios.podspec
  demos/sandbox-appyx-navigation/iosApp/Configuration/Config.xcconfig
  gradle.properties
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.properties
  utils/interop-ribs/build.gradle.kts
Labels: build & CI

#665 Fix ksp docs
  documentation/interactions/ksp.md
  documentation/releases/2.0.0-alpha10.md
Labels: documentation

#670 Fix iOS lifecycle
  CHANGELOG.md
  appyx-navigation/common/src/iosMain/kotlin/com/bumble/appyx/navigation/integration/IosNodeHost.kt
  appyx-navigation/common/src/iosMain/kotlin/com/bumble/appyx/navigation/platform/LifecycleListener.kt
Labels: enhancement, lifecycle, ios
